include LICENSE
include *.md
include pyproject.toml

include package.json
include install.json
include ts*.json
include yarn.lock

graft jupyter_ui_demo/labextension

# Javascript files
include packages/components/package.json
include packages/components/rollup.config.js
graft packages/components/.storybook
graft packages/components/docs
graft packages/components/src
include packages/react-components/package.json
include packages/react-components/tsconfig.json
graft packages/react-components/src
include packages/lab-example/package.json
include packages/lab-example/tsconfig.json
graft packages/lab-example/src
graft packages/lab-example/style
prune **/node_modules
prune lib
prune binder

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
